.form-container {
    width: 37%;
    min-width: 5rem;

    --red: hsl(0, 100%, 66%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
    display: flex;
}

form,
label {
    display: flex;
    flex-direction: column;
}

form {
    gap: 1rem;
    text-align: left;
}

form label {
    font-size: 12px;
}

form input {
    padding: .5rem 10px;
    background-color: var(--white);
    border-color: var(--light-grayish-violet);
    border-radius: 5px;
}

form input::placeholder {
    color: var(--light-grayish-violet);
    font-weight: 500;
    font-family: 'Space Grotesk';
}

form input:focus {
    border-color: var(--very-dark-violet);
}

button {
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    background: var(--very-dark-violet);
    padding: 1rem ;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
}

.card-additional-info {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.card-additional-info input {
    height: 1rem;
}

.card-additional-info label[for="exp-date"] {
    display: flex;;
}

.exp-date-inputs {
    flex-direction: column;
}
.exp-date-inputs .inputs{
    gap: 1rem;
}

.exp-date-inputs .inputs input {
    width: 3rem;
}

.cvc-inputs {
    display: flex;
    flex-direction: column;
}

.cvc-inputs input {
    width: 9rem;
}


/* Errors */

.number-error {
    font-size: 10px;
    color: var(--red);
}

.border-error {
    border-color: var(--red);
}


@media screen and (max-width: 376px){

    .form-container {
        position: absolute;
        width: 86%;
    }

    .cvc-inputs input {
        width: auto;
        max-width: 7rem;
    }

    .form-container input {
        margin-top: .5rem;
    }
}